# IBM Cloud / watsonx.ai

IBM_CLOUD_API_KEY=L8uheXA-aFUc2109kBr2ejoJsjP8SIY_1M-lNtFXs__T
WATSONX_PROJECT_ID=49af698b-2be0-4ff3-b4fa-c6478et675758ughj
WATSONX_URL=https://us-south.ml.cloud.ibm.com

# Application Security

SECRET_KEY=your_long_random_secret_here

# Database

DATABASE_URL=sqlite:///./nutriagent.db

# RAG / Vector Database

CHROMA_PERSIST_DIR=./chroma_db
